# R/RStudio 임시 파일
.RData
.Ruserdata
.Rproj.user
.Rhistory

# macOS 파일 시스템 메타데이터
.DS_Store

# Quarto 프로젝트 임시 파일
/.quarto/
/_*.local
*_cache/
/_freeze/
/_site/

# Python 가상 환경 디렉토리
/.venv/
/.condaenv/
/env/

# Python 캐시 파일
__pycache__/
*.pyc
.ipynb_checkpoints/

# Quarto 노트북 파일
**/*.quarto_ipynb

# 기타 임시 파일
*.log
*.tmp
*~